{% extends 'usage_base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <form>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary" id="inputSubmit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src={{ url_for('static', filename='js/login.js') }}></script>
    <script src="//cdn.rawgit.com/chrisveness/crypto/4e93a4d/sha1.js"></script>
{% endblock %}
