{% extends 'usage_base.html' %}

{% block title %}Manage Group{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Manage Group
                    </div>
                    <div class="normalTag" class="card-block">
                        <table id="ManageGroupTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Member</th>
                                <th>Name</th>
                                <th>Defriend</th>
                            </tr>
                            </thead>
                            <tbody id="ManageGroupTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Add Friend
                        </div>
                        <div class="card-block">
                            <form>
                                <div id="fln_ipt" class="form-group">
                                    <label for="InputContentName">First Name</label>
                                    <input type="text" class="form-control" id="InputFriendFN">
                                    <label for="InputContentName">Last Name</label>
                                    <input type="text" class="form-control" id="InputFriendLN">
                                </div>
                                <div id="email_ipt" class="form-group">
                                    <label for="inputEmail">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail"
                                           aria-describedby="emailHelp">
                                </div>
                                <button type="button" class="btn btn-primary" id="inputSubmit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script src={{ url_for('static', filename='js/manageGroup.js') }}></script>
{% endblock %}
